*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    color: #181818;
    background-color: #efefef;

}

main{
    width: 100%;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("./image/bg.jpg");
    background-position: center top;
    background-size: cover;
    padding: 56px 24px;
    color: #efefef;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 48px;
}

audio{
    display: none;
}

.image-box{
    aspect-ratio: 16/9;
    width: 250px;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #181818;
    box-shadow: 0 0 6px #181818;
    animation: fade-in 1s ease-in;
}

.image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-placeholder{
    opacity: 0;
    animation: fade-in 1s ease-in;
    text-align: center;
}

p.fade-in{
    animation: fade-in 1s 1 forwards;
}

p.fade-out{
     animation: fade-out 1s 1 forwards;
}

@keyframes fade-in{
    0%{
        opacity: 0;
    }

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes fade-out{
    0%{
        transform: translateY(0px);
        opacity: 1;
    }

    100%{
        transform: translateY(-20px);
        opacity: 0;
    }
}