*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    color: #181818;
    background-color: #efefef;

}

main{
    width: 100%;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("./image/bg.jpg");
    background-position: center top;
    background-size: cover;
    padding: 0 24px;
    color: #efefef;
}

.link-to-letter{
    width: 100%;
    background: rgba(24, 24, 24, .2);
    backdrop-filter: blur(20px);
    padding: 24px;
    display: grid;
    place-items: center;
    gap: 32px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 -1px 10px #181818;
    transform: translateY(-200%);
    animation: slide-in .8s ease-in forwards;
}


.link-to-letter p{
    font-size: 1.25rem;
    opacity: .8;
}

.link-to-letter a{
    width: 100%;
    background: rgb(238, 140, 156);
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #181818;
    box-shadow: 0 2px 6px #181818;
}

@keyframes slide-in{
    0% {
        transform: translateY(-200%);
    }

    100%{
        transform: translateY(0);
    }
}